name: Weather Database Updater

on:
  schedule:
    - cron: '00 18 * * *'

concurrency:
  group: weather-database-updater
  cancel-in-progress: false

env:
  api_key: ${{ secrets.API_KEY }}
  connection_string: ${{ secrets.CONNECTION_STRING }}
  discord_webhook_url: ${{ secrets.DISCORD_WEBHOOK_URL }}

jobs:
  update_weather:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
      - run: pip install -r requirements.txt
      - name: script_runner
        run: python main.py
